@page "/"

<div style="margin-top: 25px;">
    <div><h3 style="color: #000;">Home</h3></div>
    <div style="margin-top: 20px;">   
        <div style="padding: 10px 0; background-color: #F0F0F0; font-size: .85rem;">
           <h4>Explore the tabs on the left to see some examples and explore MvvmBlazor!</h4>
        </div>
    </div>
</div>
